{% load i18n staticfiles %}
{% block footer %}
<footer>
    <div id="footer_columns">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h2>{% trans "Соціальні мережі" %}</h2>
                    <a href="https://www.facebook.com/profile.php?id=100011071770080&sk=wall" target="_blank" class="img-link fb"></a>
                    <a href="https://www.youtube.com/channel/UCq16d1JMLMJzmeoj2W2OkRw" target="_blank" class="img-link yt"></a>
                    <a href="https://www.instagram.com/almaz.poltavka/" target="_blank" class="img-link inst"></a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>{% trans "Карта" %}</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10351.327064412077!2d34.5046449!3d49.5631974!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80b550b4e5478c56!2z0JPQvtGB0YLQuNC90LjRhtCwICLQkNC70LzQsNC3Ig!5e0!3m2!1suk!2sua!4v1489625500521" width="100%"
                      height="250" frameborder="0">
                        </iframe>
                </div>

                <div class="contacts col-xs-12 col-sm-6 col-md-4">
                    <h2>{% trans "Контакти" %}</h2>
                    <div>
                        <p><img src="{% static 'img/icons/ico-location.svg' %} " alt="location"> {% trans "вул.&nbsp;Київське шосе,&nbsp;60, м.&nbsp;Полтава" %} </p><br>
                        <p><img src="{% static 'img/icons/ico-phone.svg' %}" alt="phone"> (096)&nbsp;307&nbsp;0900, (066)&nbsp;711&nbsp;7772, (053)&nbsp;268&nbsp;1168</p><br>
                        <p><img src="{% static 'img/icons/ico-envelope.svg' %}" alt="email"> hotel.almaz@ukr.net
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer_copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hidden-md hidden-lg text-center">
                    <p>Photo by <a href="https://www.facebook.com/profile.php?id=100009586265335">StarikoFF</a></p>
                    <p>&#169; Created by ZvirDev: <a href="https://www.facebook.com/serj.guepard">Repik&#160;S.</a> and <a href="https://www.facebook.com/Grizzzzzlo">Odnoiko&#160;D.</a>, 2017</p>
                </div>
                <div class="col-md-6 visible-md visible-lg">
                    <p>Photo by <a href="https://www.facebook.com/profile.php?id=100009586265335">StarikoFF</a></p>
                    <p>&#169; Created by ZvirDev: <a href="https://www.facebook.com/serj.guepard">Repik&#160;S.</a> and <a href="https://www.facebook.com/Grizzzzzlo">Odnoiko&#160;D.</a>, 2017</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
